---
import Layout from "../layouts/Layout.astro";
import Flor from "../components/Flor.astro";
---

<Layout title="Mis XV">
	<main
		class="flex flex-wrap flex-col items-center justify-center h-auto mx-auto px-4 sm:px-6 md:px-8 py-8"
	>
		<div class="h-36 mb-11"></div>
		<Flor positionY={50} />
		<div class="overflow-auto">
			
			<!-- Tus componentes aquí -->
		</div>
		<p class="text-black text-center text-2xl sm:text-4xl mb-4 z-10 text-outline">
			Con gran alegría y emoción, te invito a celebrar mis 15 años, el sabado 15 de junio. Será
			una noche mágica llena de música, baile y mucha diversión.
		</p>
		<button
			class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl"
			onclick="window.location.href='/invitation';"
			>Abrir invitación</button
		>

	</main>
</Layout>

<style>
	.text-outline {
		text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
	}
</style>
