---
import Layout from "../layouts/Layout.astro";
import UbicacionIcon from "../components/icons/UbicacionIcon.astro";
import HeartIcon from "../components/icons/HeartIcon.astro";
import GiftIcon from "../components/icons/GiftIcon.astro";
import Card from "../components/Card.astro";
import Background from "../components/Background.astro";
import Church from "../components/icons/Church.astro";
import Flor from "../components/Flor.astro";
---

<script>
	let audioElement = document.getElementById("myAudio");
	const audioTime =
		Number(localStorage.getItem("audioTime")) > 209
			? 0
			: Number(localStorage.getItem("audioTime"));
	(audioElement as HTMLAudioElement).currentTime = Number(audioTime);

	window.onload = function () {
		const audio = document.getElementById("myAudio");
		(audio as HTMLAudioElement).play().catch(function (error) {
			console.log(
				"Autoplay was blocked. Adding onclick event to main.",
				error,
			);
			document.getElementById("autoplayBlock").style.display = "flex";
		});
	};
</script>

<Layout title="Mix XV">
	<div
		id="autoplayBlock"
		class="bg-blue-600 text-white p-2 fixed top-0 left-0 w-full h-full flex items-center justify-center z-10 transition-opacity duration-1000 pointer-events-auto opacity-100"
		onclick=`const audio = document.getElementById("myAudio");
		audio.play();
		document.getElementById('autoplayBlock').classList.replace('opacity-100', 'opacity-0');
		document.getElementById('autoplayBlock').classList.replace('pointer-events-auto', 'pointer-events-none');
		setTimeout(() => {
			document.getElementById('autoplayBlock').classList.add('hidden');
		}, 1000);`
	>
		<Flor positionY={50} />
		<p
			class="text-center text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl z-20"
		>
			Reproducción automatica fue bloqueada, por favor da click para
			reproducir la música.
		</p>
	</div>
	<main
		class="flex flex-col items-center justify-center max-w-3xl mx-auto px-4 py-8"
	>
		<audio id="myAudio">
			<source src="/audios/music.mp3" type="audio/mpeg" />
		</audio>
		<Background />

		<h1
			class="text-4xl sm:text-6xl font-bold text-blue-500 mb-6 text-center text-outline"
		>
			Nathalee Marian Robles Gonzalez
		</h1>

		<div
			class="mb-4"
			onclick="let audio = document.getElementById('myAudio');
		localStorage.setItem('audioTime', String(audio.currentTime));
		window.location.href = 'https://forms.gle/bf8Ri97wt2DjyPrdA';"
		>
			<Card
				texto="Para mi es muy importante tu asistencia, te espero a las 6 de la tarde en Jardin de Eventos El Cerezo, Totonicapán"	
				botonTexto="Confirmación"
			>
				<HeartIcon
					slot="icon"
					className="w-12 h-12 sm:w-16 sm:h-16 md:w-24 md:h-24 lg:w-32 lg:h-32 text-blue-600"
				/>
			</Card>
		</div>
		<div
			class="mb-4"
			onclick="audio = document.getElementById('myAudio');
		localStorage.setItem('audioTime', String(audio.currentTime));
		window.location.href = 'https://maps.app.goo.gl/fyyibi79v1c6PY7L8';"
		>
			<Card
				texto="Asiste a la eucaristia de acción de gracias a las 4 de la tarde en la Parroquia Sagrada Familia Quetzaltenango, acá te dejo la ubicación"
				botonTexto="Ubicación Parroquia"
			>
				<Church
					slot="icon"
					className="w-12 h-12 sm:w-16 sm:h-16 md:w-24 md:h-24 lg:w-32 lg:h-32 text-blue-600"
				/>
			</Card>
		</div>
			<div
				class="mb-4"
				onclick="audio = document.getElementById('myAudio');
		localStorage.setItem('audioTime', String(audio.currentTime));
		window.location.href = 'https://maps.app.goo.gl/XYZb6czBXnru5Sbb9?g_st=iw';"
			>
				<Card
					texto="Te comparto la ubicación del lugar de la fiesta para que puedas llegar sin complicaciones, te espero a las 6 de la tarde en Jardin de Evento el Cerezo, Totonicapán"
					botonTexto="Ubicación"
				>
					<UbicacionIcon
						slot="icon"
						className=" w-12 h-12 sm:w-16 sm:h-16 md:w-24 md:h-24 lg:w-32 lg:h-32"
					/>
				</Card>
			</div>
			<audio id="myAudio">
				<source src="/audios/music.mp3" type="audio/mpeg" />
			</audio>

			<div
				onclick="audio = document.getElementById('myAudio');
			localStorage.setItem('audioTime', String(audio.currentTime));
			window.location.href = '/regalo';"
			>
				<Card
					texto="Si deseas hacer un regalo, te comparto algunas ideas"
					botonTexto="Regalo"
				>
					<GiftIcon
						slot="icon"
						className=" w-12 h-12 sm:w-16 sm:h-16 md:w-24 md:h-24 lg:w-32 lg:h-32"
					/>
				</Card>
			</div>
			<p
			class="text-blue-900 text-outline font-bold text-center text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl"
		>
			Si tienes alguna duda o comentario, no dudes en contactarme
		</p>
		</div>
	</main>
</Layout>

<style>
	*:not(#autoplayBlock) {
		z-index: 5;
	}

	.text-outline {
		text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
	}
</style>
